<h1>Which tasks do you wan to edit?</h1>
<%= form_for(@task) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.label :date_of_creation %>
  <%= f.text_field :date_of_creation %>

  <%= f.submit %>
<% end %>
